{% extends '@layout/default.html.twig' %}

{% block header %}Track a Parcel{% endblock %}

{% block title %}Track a Parcel{% endblock %}

{% block content %}
    <section class="my-9 border border-slate-200 rounded-md gap-x-4 w-full max-w-3xl shadow-lg shadow-slate-300/50 bg-twilio-red">
        <div class="mx-5 my-4 p-2">
            <a href="/">
                <img src="/img/arrow-small.png"
                     alt="left arrow"
                     width="58"
                     height="58"
                     class="border border-red-800 bg-white rounded-full p-3 hover:cursor-pointer">
            </a>
        </div>
        <div class="p-8 flex flex-row bg-[url(/img/truck-small.png)] bg-right-bottom bg-no-repeat bg-origin-content bg-white">
            <div class="w-full">
                <h2 class="text-2xl font-bold">{{ details.parcel.description }}</h2>
                <p id="parcel-id" class="text-slate-800/75">{{ details.parcel.parcelId }}</p>
                <div id="parcel-details" class="mt-3 py-3 border-t border-slate-200">
                    <h3 class="text-xl font-bold mt-3 mb-5">Parcel details</h3>
                    <div>
                        <div class="mb-8">
                            <h4 class="font-semibold text-lg">From</h4>
                            <div>{{ details.parcel.supplier }}</div>
                        </div>
                        <div class="mb-8">
                            <h4 class="font-semibold text-lg">Customer</h4>
                            <div>{{ details.parcel.customer.fullName }}</div>
                            <address>
                                {{ details.parcel.customer.address }}
                            </address>
                        </div>
                        <div class="mb-8">
                            <h4 class="font-semibold text-lg">Service</h4>
                            <div>{{ details.parcel.deliveryService }}</div>
                        </div>
                        <div>
                            <h4 class="font-semibold text-lg">Parcel dimensions and weight</h4>
                            <div>
                                {{ details.parcel.dimensions }},
                                {{ details.parcel.weight }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tracking-details" class="mt-6 py-3 border-t border-slate-200">
                    <h3 class="text-xl font-bold mt-3 mb-1">Tracking details</h3>
                    <h4 id="tracking-id" class="mb-4">{{ details.trackingNumber }}</h4>
                    <section class="mt-5">
                        {% for status in details.parcelStatusUpdates %}
                        <div class="mb-8">
                            <h5 class="font-semibold text-lg text-emerald-600">{{ status.description }}</h5>
                            <address>{{ status.address }}</address>
                            <time datetime="2025-03-14 16:50">
                                {{ status.createdAt|date("D j M, h:s a") }}
                            </time>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
